<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=720, initial-scale=1">
	<title>John Anthony | Home</title>
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
	<style>
		body, html { padding: 0px; margin: 0px; height: 100%; }

		html {
			background:
				linear-gradient(0, #323232, rgba(255, 255, 255, 0), #323232),
			url('data:image/png;base64,{{.BG}}'),
				#323232;
			background-repeat: no-repeat;
			background-size: cover;
		}

		body {
			font-family: 'Abel', Verdana, sans-serif;
			background:
				linear-gradient(0, #323232, rgba(255, 255, 255, 0), #323232);
			font-size: 14px;
			color: #fbb700;
			padding: 0px;
			height: 100%;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		a {
			text-decoration: none;
			color: #f76504;
		}

		a:visited { color: #f76504; }
		a:hover { color: #ffffff; }
		ul { list-style: none; }
		.John { color: #f76504; }
		.Anthony { color: #fbb700; }
		.John, .Anthony { font-size: 80px; }
		.John, .Anthony, .links {
			font-weight: bold;
			text-transform: uppercase;
			text-align: right;
		}
		.links {
			display: flex;
			flex-direction: row;
			width: 500px;
			justify-content: space-around;
			padding: 0px;
			margin: 0px;
		}
	</style>
</head>
<body>
	<div>
		<span class="John">John</span>
		<span class="Anthony">&nbsp;Anthony</span>
	</div>
	<ul class="links">
		<li><a href="mailto:john@jo.hnanthony.com">Email Me</a></li>
		<li><a href="https://gitlab.com/JohnAnthony">@Gitlab</a></li>
		<li><a href="https://github.com/JohnAnthony">@Github</a></li>
		<li><a href="https://www.norwichgames.uk">Norwich Games Con</a></li>
		<li><a href="https://pkgs.alpinelinux.org/packages?branch=edge&maintainer=John%20Anthony">Alpine Linux</a></li>
	</ul>
</body>
